<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <div class="logo-container">
    <img src="images/logo.png" height="75%">
  </div>
  <div class="center">
    <p class="welcome">Bienvenido a</p>
    <p class="welcome">Mi Entel</p>
  </div>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Teléfono</span>
          <input type="text" ng-model="loginData.phone_number">
        </label>
        <label class="item item-input">
          <span class="input-label">RUT</span>
          <input type="text" ng-model="loginData.rut">
        </label>
        <label class="item item-input">
          <span class="input-label">Clave</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
