/* Empty. Add your own CSS if you like */

$btn-primary: #ff6702 !default;
$entel-blue: #0154a0 !default;
$light-gray: #eeeeee !default;
$entel-orange: #fc6703 !default;
$text-gray: #565656 !default;

.item-complex .item-content, .item-radio .item-content {
	padding: 16px 16px 16px 16px !important;
}

html, body {
	height: 100%;
}

.content-title {
	margin-top: 15px;
	h2 {
		color: $entel-orange;
		font-size: 16px;
	}
}

.menu-inline {
	float: left;
	.bracket {
		font-size: 28px;
		margin-top: 10px;
	}
	.bracket-container {
		margin-top: 8px;
	}
}

.list {
	clear: both;
}

.user-info {
	margin-left: 15px;
}
.names {
	margin-left: 10px;
	margin-bottom: 10px;
}

.plan-purchase {
	float: right;
	margin-right: 10px;
	color: white;
	background-color: $entel-orange;
	padding: 5px;
	a, span {
		color: white;
		font-weight: bold;
		text-decoration: none;
	}
}

.title {
	.nav-logo {
		padding-top: 5px;
	}
	.nav-title {
		margin-left: 10px;
		font-weight: bold;
	}

	text-align: left !important;
	
}

ion-header-bar {
	background-color: $entel-blue !important;
	.title {
		color: #fff !important;
	}
}

.bar.bar-stable .title, .bar-stable .button.button-clear {
	color: #fff !important;
}

div.logo-container {
	text-align: center;
	height: 50px;
	width: 100%;
	padding-top: 10px;
}

.welcome {
	font-weight: bold;
	font-size: 24px;
}

.item {
	color: #555555;
	&.entel-blue {
		color: $entel-blue;
	}
	&.header {
		background-color: #eeeeee;
	}
}

.icon.fa {
	color: $entel-blue;
	width: 25px;
}

.menu-item {
	padding-left: 10px;
}

.traffic-container {
	padding-top: 20px;
}

.float-right {
	float: right;
}

.caret {
	font-weight: bold;
	font-size: 24px;
}
.traffic-data {
	color: #636466;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	

	.data-title {
		padding-bottom: 15px;
	}
	.data-content {
		height: 40px;
		background-color: $light-gray;
		div {
			padding-top: 10px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.entel-orange {
	color: $entel-orange;
}

.bold {
	font-weight: bold;
}


#map-container {
	width: 100%;
	text-align: center;
	height: 400px;
	margin-top: 10px;

		.angular-google-map-container { 
		height: 400px; 
		width: 75%;
		display: inline-block;
	}
}

.plan-container {
	color: $text-gray;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	.plan {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		background-color: $light-gray;
		.plan-title {
			color: $entel-blue;
			font-size: 18px;
		}

		.plan-fixed {
			padding-top: 10px;
		}
		.plan-internet  {
			padding-top: 10px;
			color: $entel-orange;

		}

		.price-value {
			margin-left: 10px;
		}
	}
}