<ion-view>
 <ion-nav-title>
  	<img class="nav-logo" src="images/logo-white.png" height="75%" >
  	<span class="nav-title"> Planes y Tarifas_</span>
  </ion-nav-title>
  
<ion-content>
<ion-list>
<ion-item class="center entel-blue header">{{ planTypeName }}</ion-item>
</ion-list>

<div class="plan-container" ng-repeat="plan in plans">
	<div class="plan">
		<div class="plan-title">
			{{plan.name}}
		</div>
		<div class="plan-fixed">
			<span class="price-label">Cargo fijo mensual</span>
			<span class="price-value">{{ plan.price }}</span>
		</div>
		<div class="plan-internet">
			<span class="price-label" ng-if="plan.internet_price !== null">Promoción internet</span>
			<span class="price-value" ng-if="plan.internet_price !== null">{{ plan.internet_price }}
				<div class="plan-purchase">
					<a href='#' ng-click="showAlert('{{ plan.name }}')">[ Solicitar_</a>
				</div>
			</div>
			<div ng-if="plan.internet_price !== null">
				10% dscto.x 12 meses.
			</div>

		</div>
	</div>
</ion-content>
</ion-view>
